# Python / Django
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
db.sqlite3
media/
*.log

# Node / React
node_modules/
dist/
.vite/

# Environment Variables & Secrets
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
